.layout-default {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__header {
    background: rgb(68, 153, 149);
    padding: 15px 0;
  }

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;
  }

  button{
    margin-right: 15px;
  }
  &__logo {
    padding: 5px;
    margin-left: 50px;
    font-size: 28px;
    font-weight: 800;

    a {
      text-decoration: none;
      color: var(--color-main);
    }
  }

  &__main {
    flex: 1;
    overflow-y: auto;
    margin: 30px 0;
  }

  &__footer {
    padding: 15px 0;
    text-align: center;
    background: rgb(68, 153, 149);
    color: var(--color-main);
    font-weight: 700;
    font-size: 20px;
  }
}