// // SearchForm.scss

.search-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // background-color: #f9f9f9;
    padding: 0 20px 20px 20px;
    border-radius: 8px;
    // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
    &__title {
      font-size: 30px;
      text-align: center;
      margin-bottom: 20px;
      color: #333;
    }
  
    // &__input-wrapper {
    //   width: 100%;
    //   max-width: 400px;
    //   margin-bottom: 12px;
  
    //   .ant-select-selector {
    //     border-radius: 4px;
    //     width: 100%; // Đặt độ rộng của nút chọn thành phố là 100% của phần tử input-wrapper
    //   }
    // }
  
    // &__submit-button {
    //   width: auto;
    //   padding: 0 20px;
    //   border-radius: 4px;
    // }
  }
  